<div class="container">
    <div class="signin">
        <h5 routerLink="/login">Sign In</h5>
    </div>
    <div class="logo-contact">
        <img class="image-fit" src="../../../assets/img/logo_contact.jpg" alt="">
    </div>
    <div class="form">
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <input class="p-3" type="text" placeholder="Name" name="name" [(ngModel)]="form.name" required
        #name="ngModel" autocomplete="off">
            <input class="p-3" type="text" placeholder="Email" name="email" [(ngModel)]="form.email" required email
        #email="ngModel" autocomplete="off">
            <input class="p-3" type="password" placeholder="Password" style="margin-bottom:10px;" name="password"
        [(ngModel)]="form.password" required minlength="8" #password="ngModel" autocomplete="off">
    <button>REGISTER</button>
        </form>
    </div>
</div>