<div class="container">
    <div class="signup">
        <h5 routerLink="/register">Sign Up</h5>
    </div>
    <div class="logo-contact">
        <img class="image-fit" src="../../../assets/img/logo_contact.jpg" alt="">
    </div>
    <div class="form">
        <form action="">
            <input class="p-3" type="text" placeholder="Email">
            <input class="p-3" type="password" placeholder="Password" style="margin-bottom:10px;">
        </form>
    </div>
    <button routerLink="/contact">LOGIN</button>
</div>