<div class="container">
    <div class="header sticky-top">
        <div class="top">
            <span>My Contacts</span>
            <fa-icon routerLink="/add" class="icon" [icon]="faPlusCircle"></fa-icon>
        </div>
        <div class="search">
            <input type="text" placeholder="Search contact">
        </div>
    </div>
    <div class="content">
        <section class="group" *ngFor="let contact of contacts">
            <h5>{{contact.group}}</h5>
            <div class="contact" routerLink="/view" *ngFor="let view of contact.children">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>{{view.name}}</span>
                    <span>{{view.telp}}</span>
                </div>
                <div class="delete">
                    <input type="hidden" [value]="view._id" #id>
                    <fa-icon [icon]="faStarRegular" *ngIf="view.favorite === 'N'" (click)="onFavorite(id.value)"></fa-icon>
                    <fa-icon [icon]="faStarSolid" *ngIf="view.favorite === 'Y'" (click)="onFavorite(id.value)"></fa-icon>
                </div>
            </div>
        </section>
    </div>
    <div class="menu">
        <fa-icon routerLink="/recent" class="icons" [icon]="faHistorySolid"></fa-icon>
        <fa-icon class="icons" [icon]="faUserSolid"></fa-icon>
        <fa-icon routerLink="/favorites" class="icons" [icon]="faStarRegular"></fa-icon>
    </div>
</div>