<div class="container">
    <div class="header sticky-top">
        <div class="top">
            <span>My Contacts</span>
            <fa-icon routerLink="/add" class="icon" [icon]="faPlusCircle"></fa-icon>
        </div>
        <div class="search">
            <input type="text" placeholder="Search contact">
        </div>
    </div>
    <div class="content">
        <section class="group">
            <h5>A</h5>
            <div class="contact" routerLink="/view">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Alisson</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Ashley</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Ahmad</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Arshavin</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
        </section>
        <section class="group">
            <h5>B</h5>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Baistuta</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Ballack</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Balotelli</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Buffon</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
        </section>
        <section class="group">
            <h5>C</h5>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Caca</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Celly</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Cevaa</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Cici</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarRegular"></fa-icon>
                </div>
            </div>
        </section>
    </div>
    <div class="menu">
        <fa-icon routerLink="/recent" class="icons" [icon]="faHistorySolid"></fa-icon>
        <fa-icon class="icons" [icon]="faUserSolid"></fa-icon>
        <fa-icon routerLink="/favorites" class="icons" [icon]="faStarRegular"></fa-icon>
    </div>
</div>