<div class="container">
    <div class="back" routerLink="/contact">
        <fa-icon class="icon" [icon]="faArrowLeft"></fa-icon>
        <h5>Back</h5>
    </div>
    <div class="image-profile">
        <fa-icon class="icon-profile" [icon]="faUserSolid"></fa-icon>
    </div>
    <div class="input">
        <input type="text" placeholder="Name" autocomplete="none">
        <input type="text" placeholder="Phone" autocomplete="none">
        <input type="text" placeholder="Email" autocomplete="none">
        <input type="text" placeholder="Company" autocomplete="none">
        <input type="text" placeholder="Job" autocomplete="none">
    </div>
    <button routerLink="/contact">CREATE NEW ACCOUNT</button>
</div>