<div class="container">
    <div class="header sticky-top">
        <div class="top">
            <span>Favorites</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search contact">
        </div>
    </div>
    <div class="content">
        <section class="group" *ngFor="let contact of contacts">
            <h5>{{contact.group}}</h5>
            <div class="contact" *ngFor="let view of contact.children">
                <div class="profile" routerLink="{{'/view/'+view._id}}">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info" routerLink="{{'/view/'+view._id}}">
                    <span>{{view.name}}</span>
                    <span>{{view.telp}}</span>
                </div>
                <div class="delete">
                    <input type="hidden" [value]="view._id" #id>
                    <fa-icon [icon]="faStarRegular" *ngIf="view.favorite === 'N'" (click)="onFavorite(id.value)"></fa-icon>
                    <fa-icon [icon]="faStarSolid" *ngIf="view.favorite === 'Y'" (click)="onFavorite(id.value)"></fa-icon>
                </div>
            </div>
        </section>
        <!-- <section class="group">
            <h5>B</h5>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Baistuta</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarSolid"></fa-icon>
                </div>
            </div>
            <div class="contact">
                <div class="profile">
                    <fa-icon class="icon" [icon]="faUserSolid"></fa-icon>
                </div>
                <div class="info">
                    <span>Ballack</span>
                    <span>+6282134568923</span>
                </div>
                <div class="delete">
                    <fa-icon [icon]="faStarSolid"></fa-icon>
                </div>
            </div>
        </section> -->
    </div>
    <div class="menu">
        <fa-icon routerLink="/recent" class="icons" [icon]="faHistorySolid"></fa-icon>
        <fa-icon routerLink="/contact" class="icons" [icon]="faUserRegular"></fa-icon>
        <fa-icon class="icons" [icon]="faStarSolid"></fa-icon>
    </div>
</div>